html,
body {
  height: 100%;
}
body {
  background: #ededed;
}
.content {
  padding: 44px 0 0 0;
}
.mui-bar-nav {
  background: #ededed;
}
.mui-bar-nav a {
  color: #333!important;
}
.mui-bar-nav span {
  font-size: 17px!important;
}
.weui-btn {
  line-height: 2!important;
  font-size: 16px!important;
}
.oneBtn.mui-btn {
  height: 45px;
  font-size: 16px!important;
  line-height: 1;
}
.mui-icon-info-filled:before {
  color: #2a83fd;
}
.pt30 {
  padding-top: 30px!important;
}
.amap-logo,
.amap-copyright {
  display: none!important;
}
/*个人信息*/
.mui-content > .mui-table-view:first-child {
  margin-top: 0px;
}
.information .mui-bar-nav ~ .mui-content {
  padding: 0;
}
.information .mui-table-view-chevron .mui-table-view-cell {
  padding-right: 35px;
  border-bottom: 1px solid #e4e4e4;
}
.information .mui-table-view-chevron .mui-table-view-cell > a:not(.mui-btn) {
  margin-right: -35px;
}
.information .mui-table-view-cell:after {
  background: none;
}
.information .ul-li-img {
  line-height: 30px;
  max-width: 30px;
  height: 30px;
}
.information p {
  color: #333;
  float: left;
}
.information .weui-cell {
  padding: 0;
}
.information .mui-pull-right {
  color: #999;
}
.information .mui-navigate-right:after,
.information .mui-push-right:after {
  content: '' !important;
}
.inBox .mui-table-view-cell:before {
  content: '';
  display: block;
  width: 8px;
  height: 15px;
  background: url('../../assets/icon/arr_in01.png') no-repeat right center;
  position: absolute;
  right: 15px;
  top: 32%;
}
.birthTxt .vux-cell-value {
  color: #999;
  float: right;
}
.txtIn .vux-cell-primary {
  color: #999;
  float: right;
}
.txtIn .weui-cell__hd {
  float: left;
}
/*修改密码*/
.editPassword .weui-cells {
  margin-top: 0;
  font-size: 14px;
}
.editPassword .weui-cell {
  border-bottom: 1px solid #d3d3d3!important;
}
.editPassword .vux-no-group-title {
  margin-top: 0;
}
.editPassword .txts01 {
  display: block;
  padding: 10px 10px 10px 15px;
  font-size: 14px;
  color: #E64340;
}
.editPassword input[type='password'] {
  border: none;
}
.weui-btn_primary {
  background-color: #0079fe!important;
}
.editPassword button.weui-btn {
  width: 98%;
}
.inputSty01 input {
  margin-bottom: 0!important;
}
.txtSm {
  font-size: 11px;
  padding: 10px 5px 20px 5px;
  display: block;
}
/*账号管理*/
.management .weui-cells {
  margin-top: 0!important;
}
.management .vux-no-group-title {
  margin-top: 0;
}
.management p {
  margin-bottom: 0;
  color: #333;
}
.management .weui-cell__ft {
  font-size: 14px;
}
.iconPhone .vux-label:before {
  content: '';
  background: url("../../assets/icon/icon_phone.png") no-repeat left top;
  width: 18px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background-size: 100%;
}
/*新用户注册*/
.registe .weui-input {
  margin-bottom: 0!important;
  padding: 10px 5px;
  border: none;
}
.registe .lineTop {
  overflow: hidden;
}
.registe .lineTop .weui-input {
  border-left: 1px solid #e6e6e6;
}
.registe .top1 {
  float: left;
  display: block;
  padding: 20px 20px 0 10px;
  width: 4em;
  background: url("../../assets/icon/icon_r01.png") no-repeat right 25px;
}
.registe .weui-cells {
  margin-top: 0!important;
  font-size: 14px;
  background: none!important;
}
.registe .weui-label {
  width: 5em!important;
  font-size: 14px;
}
.btnBluetxt {
  background: #fff !important;
  color: #0079fe!important;
  border: 1px solid #0184f6!important;
  border-radius: 20px!important;
  padding: 4px 9px 3px 9px;
  font-size: 14px!important;
}
.btnBluetxt:after {
  border: none!important;
}
.btnGraybg {
  background: #d5d5d5!important;
  color: #999!important;
  border-radius: 30px!important;
}
.btnBluebg {
  background: #0383f0!important;
  color: #fff!important;
  border-radius: 30px!important;
}
.btnGrayBox,
.btnBlueBox {
  padding: 0px 15px 10px 15px;
}
.strTxt {
  float: right;
  display: block;
  padding-top: 20px;
  color: #E64340;
  margin-right: 6px;
  border-top: 1px solid #e6e6e6;
}
.txtSm01 {
  font-size: 10px;
  margin: 0 6px;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0 20px 15px;
  display: block;
  color: #707070;
  background: url("../../assets/icon/icon_r02.png") no-repeat left 12px;
}
.txtSm02 {
  font-size: 11px;
  margin: 0 6px;
  margin-bottom: 15px;
  display: block;
}
.registe .weui-cell:before {
  right: 6px;
  left: 6px;
  border-top: 1px solid #e6e6e6;
  transform: none;
}
.registe .weui-cells:after {
  border: none!important;
}
.registe .weui-cell.inputPass:before {
  right: 0;
  left: 6px;
  border-top: 1px solid #e6e6e6;
  transform: none;
}
.registeBox {
  background: #fff;
}
.reBtm {
  overflow: hidden;
}
.reBtm span {
  float: right;
  margin-top: 2px;
}
.btnBluesm {
  float: right;
  text-decoration: underline!important;
  width: 46px!important;
  border: none!important;
  font-size: 14px!important;
  padding: 5px!important;
  margin: 0 8px!important;
  line-height: 12px!important;
  background: none!important;
  color: #0079fe !important;
}
.btnBluesm.weui-btn:after {
  border: none!important;
}
/*我的*/
.btnBlue {
  background: #0383f0!important;
  color: #fff!important;
  border-radius: 30px!important;
}
.btnBlueBox.mui-table-view:after {
  background: none!important;
}
.btnBlueBox.mui-table-view {
  padding-top: 30px;
}
.btnWhitesm {
  border: none!important;
  font-size: 14px!important;
  padding: 5px!important;
  margin: 0 8px!important;
  line-height: 12px!important;
  background: none!important;
  color: #fff !important;
}
.btnWhitesm:after {
  border: none !important;
}
.loginBgtop {
  padding: 5%x 0 8% 0;
  min-height: 150px;
}
.loginBgtop01 {
  padding: 5%x 0 8% 0;
  min-height: 150px;
}
.btn_ed {
  width: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.txtCenter {
  text-align: center;
}
.fourthBg {
  background: #fff url("../../assets/bg_logintop.png") no-repeat left top;
  background-size: 100%;
  height: 100%;
}
.mui-table-view.loginBgtop,
.mui-table-view.loginBgtop01 {
  background: none!important;
}
.mui-table-view.loginBgtop:after,
.mui-table-view.loginBgtop01:after {
  background: none!important;
}
.fourthBg .mui-bar {
  background: none!important;
}
.fourthBg .mui-bar-nav {
  background: none!important;
}
.fourthBg .mui-bar-nav.mui-bar .mui-icon {
  color: #2c2c2c!important;
}
.imgBw {
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
.txtWhite {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px!important;
}
.fourth .mui-active {
  background: none!important;
}
.blueLink {
  background: #0684f2;
  color: #fff;
}
.grayLink {
  background-color: rgba(199, 199, 199, 0.7);
  color: #333;
}
.blueLink .weui-btn_plain-primary,
.grayLink .weui-btn_plain-primary {
  color: #fff;
  border: none;
}
.blueLink,
.grayLink {
  padding: 4px 15px;
  margin: 0 3px;
  border-radius: 20px;
}
.blueLink button,
.grayLink button {
  padding: 0!important;
}
.blueLink .weui-btn,
.grayLink .weui-btn {
  line-height: 18px!important;
  font-size: 14px!important;
}
.fourth .mui-navigate-right:after,
.fourth .mui-push-right:after {
  content: '' !important;
}
.fourthCon01 .mui-table-view-cell:before,
.fourthCon .mui-table-view-cell:before {
  content: '';
  display: block;
  width: 6px;
  height: 9px;
  background: url('../../assets/icon/arr_in01.png') no-repeat right center;
  position: absolute;
  right: 15px;
  top: 40%;
}
/*关于宝船*/
.aboutTxt p {
  font-size: 14px!important;
  color: #333!important;
  margin-bottom: 0;
}
.aboutTxt .weui-cell__ft {
  font-size: 14px!important;
}
.withfoot {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #999;
}
/*登录*/
.loginBg {
  background: #fff url("../../assets/bg_login.png") no-repeat left top;
  background-size: 100% 100%;
  height: 100%;
}
.loginBg .mui-bar {
  background: none!important;
}
.loginBg .mui-bar-nav {
  background: none!important;
}
.loginBg .mui-bar-nav.mui-bar .mui-icon {
  color: #2c2c2c!important;
}
.loginTxt01 {
  padding: 80px 0 0 0;
}
.loginTxt01 p {
  color: #fff;
}
.loginTxt01 a:first-child {
  border-right: 1px solid #fff;
}
.bgGray {
  background: #ededed;
}
/*查询历史航次*/
.dateColor .vux-cell-value {
  float: right;
  color: #999;
}
.hcBox .mui-table-view-cell .weui-cell:after {
  content: '';
  display: block;
  width: 6px;
  height: 9px;
  background: url('../../assets/icon/arr_in01.png') no-repeat right center;
  position: absolute;
  right: 20px;
  top: 40%;
}
/*轨迹*/
.img_arrow {
  width: 43px;
  margin-left: 18px;
}
.blue_circle {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  position: absolute;
  right: 15px;
  top: -23px;
  background: #1a81ff url('../../assets/icon/icon_p.png') no-repeat center top;
  background-size: 55%;
  z-index: 99;
}
.blue_circle span {
  display: block;
  text-align: center;
  color: #fff;
  padding: 20px 0 0 0;
  font-size: 11px;
}
/*地图*/
.sname {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #0781f3;
  font-weight: bold;
}
.sname span {
  font-size: 11px;
  color: #666f84;
  font-weight: normal;
  display: block;
}
.sname01 {
  font-size: 12px;
  line-height: 12px;
  color: #8b93b8;
  display: flex;
}
.sname01 span {
  display: block;
  float: left;
  width: 20px;
  height: 23px;
}
.ship .bui-avatar {
  background: none!important;
}
.ship .blackBg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
}
.ship .bui-list,
.ship .bui-list-body {
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.1);
}
.ship .cTxt {
  text-align: center;
  color: #666f84!important;
  font-size: 14px;
}
.ship .bui-list-item .bui-list-line .bui-list-brief {
  color: #666f84;
}
.ship .bui-list-item .bui-list-line .bui-list-arrow {
  width: 9px!important;
  height: 15px;
  background: url('../../assets/icon/arr01.png') no-repeat center !important;
}
.ship .cList.bui-list-item .bui-list-line .bui-list-arrow {
  background: none !important;
}
.ship .cArr {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url('../../assets/icon/arr02.png') no-repeat center !important;
  margin-left: 5px;
}
.ship .amap-demo {
  height: 300px;
}
.ship .bui-segment-item {
  padding: 8px 20px;
}
.ship .item {
  margin-bottom: 10px;
  border-radius: 2px;
  background: #ffffff;
  padding: 15px 15px 10px 15px;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.1);
}
.ship .bui-well-item {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.ship .bui-well-item-bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
}
.ship .bui-well-item-bd h3 {
  color: #131313;
  font-size: 0.9rem;
  font-weight: normal;
}
.ship .bui-well-item-fr {
  font-size: 0.8rem;
  text-align: right;
  color: #999999;
  padding-right: 13px;
  position: relative;
}
.ship .bui-well-item-fr:after {
  content: " ";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-width: 2px 2px 0 0;
  border-color: #999999;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 2px;
  border-radius: 2px;
}
.ship .bui-order-fl {
  color: #666666;
  font-size: 0.8rem;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  padding-left: 15px;
}
.ship .head-img {
  width: 41px;
  height: 41px;
}
.ship .bui-float-div {
  margin-left: 2%;
  margin-top: 20px;
  border-radius: 8px;
  position: fixed;
  z-index: 1000;
  padding: 10px 10px;
  background-color: #ffffff;
  width: 96%;
  height: 62PX;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(8, 8, 8, 0.3);
  -moz-box-shadow: 0 0 10px rgba(8, 8, 8, 0.3);
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.3);
}
.ship .bui-float-div-input {
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  border: none;
  margin-top: 6px;
  width: 90%;
}
.ship .bui-hr {
  border-top: 1px dashed #999;
  margin: 6px 0;
  display: block;
  height: 1px;
}
.mui-icon-info-filled.iconDate:before {
  content: '';
  margin-top: 3px;
  display: block;
  background: url('../../assets/icon/icon_date.png') no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.h3map {
  font-size: 12px;
  color: #667186;
  margin-bottom: 15px;
  line-height: 10px;
}
.h3map .gqImg {
  position: relative;
  top: 7px;
}
.maptxt01 {
  font-size: 12px;
  color: #0284f4;
}
.maptxt02 {
  line-height: 18px;
  font-size: 12px;
  color: #666f84;
}
.maptxt02 .bTxt01 {
  color: #333;
}
.mui-icon-back:before,
.mui-icon-left-nav:before {
  color: #666;
}
.maptxt03 {
  font-size: 12px;
  color: #666f84;
}
.iconB01:before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url('../../assets/icon/icon_b01.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}
.iconB02:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 21px;
  background: url('../../assets/icon/icon_b02.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}
.iconB03:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url('../../assets/icon/icon_b03.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}
.iconB04:before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url('../../assets/icon/starin.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}
.iconB04:before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url('../../assets/icon/starin.png') no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}
.shipname {
  margin-bottom: 5px;
  display: block;
}
.shipdetailBox01 {
  background-color: #ffffff;
  padding: 10px 10px;
  z-index: 99;
  border-radius: 10px;
  width: 96%;
  margin: 10px 2%;
  position: fixed;
  bottom: 60px;
  box-shadow: 0 0 10px #dcdce0;
}
.shipdetailBox02 {
  background-color: #ffffff;
  padding: 5px 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.shipdetailBox02 span {
  display: block;
}
.icon_chuan {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url('../../assets/icon/icon_chuan.png') no-repeat;
  margin: 0 0 0 3px;
  position: relative;
  top: 3px;
}
.btmCon {
  width: 33%;
  text-align: center;
  font-size: 12px;
  color: #8b93b8;
}
.icon_new {
  display: inline-block;
  background: url('../../assets/icon/icon_new.png') no-repeat;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
}
.bLine {
  margin: 3px 0;
}
.boatSearch {
  position: relative;
}
.boatBtn {
  position: absolute!important;
  right: 10px;
  top: 15px;
  height: 30px;
  padding: 10px!important;
  background: url('../../assets/icon/icon_close.png') no-repeat center !important;
  border: none!important;
  border-radius: 0!important;
  color: #989898!important;
}
.boatBtn:after {
  border: none!important;
}
.mapMark {
  position: fixed;
  background: #fff;
  z-index: 9;
  width: 135px;
  bottom: 260px;
  border-radius: 10px;
  right: 10px;
  padding: 10px;
  color: #666f84;
  box-shadow: 0 0 10px #dcdce0;
  font-size: 11px;
}
.mapMark ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mapMark .li01:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 8px;
  background: url('../../assets/icon/b02.png') no-repeat right center;
  margin-right: 3px;
}
.mapMark .li02:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 8px;
  background: url('../../assets/icon/b03.png') no-repeat right center;
  margin-right: 3px;
}
.mapMark .li03:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 8px;
  background: url('../../assets/icon/b04.png') no-repeat right center;
  margin-right: 3px;
}
/*历史航次*/
.lineArrow {
  margin-top: -10px;
  text-align: center;
}
.lineArrow img {
  width: auto!important;
  height: auto!important;
  vertical-align: 0!important;
}
.shiplist01 {
  display: flex;
}
.nameleft {
  width: 35%;
  float: left;
}
.nameline {
  width: 30%;
  float: left;
}
.nameright {
  width: 35%;
  float: left;
}
.shiplist01 .txtp01 {
  float: left;
  display: block;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  line-height: 22px;
  background: #b4b4b6;
  border-radius: 18px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.shiplist01 .txtp02 {
  float: left;
  display: block;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  line-height: 22px;
  background: #7cb4fe;
  border-radius: 18px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.shiplist01 .namebox {
  float: left;
  width: calc(71%);
  text-align: left;
  padding: 0 0 0 8px;
}
.shiplist01 .nameboxImg {
  width: 20px;
  height: 15px;
  margin-bottom: 3px;
}
.shiplist01 .nametxt01 {
  font-size: 16px;
  color: #0384f4;
  font-weight: bold;
  text-align: left;
  white-space: normal!important;
  word-wrap: break-word !important;
  line-height: 20px;
}
.shiplist01 .nametxt03 {
  font-size: 11px;
  color: #6c7183;
  text-align: left;
  white-space: normal!important;
  word-wrap: break-word !important;
  line-height: 12px;
}
.shiplist01 .nametime01 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 28px;
  margin-left: -3px;
}
.shiplist01 .nametime02 {
  font-size: 12px;
  color: #9190b4;
  text-align: left;
  line-height: 10px;
}
.shiplist01 .nametxt02 {
  font-size: 12px;
  color: #6c7183;
  text-align: center;
}
.ship .bui-list-item {
  border-bottom: 1px solid #eee;
  background: none!important;
}
.ship .amap-icon {
  width: 25px!important;
  height: 25px!important;
}
.ship .amap-icon img {
  left: 0!important;
  top: 0!important;
  width: 25px!important;
  height: 25px!important;
}
.hisBtm {
  position: fixed;
  z-index: 99;
  width: 96%;
  margin: 0 2%;
  bottom: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 10px;
}
.hisBtm01 {
  text-align: right;
}
.linkMore {
  color: #676c85!important;
}
.hisTxt01 {
  font-size: 18px;
  line-height: 20px;
  color: #0683f2;
  font-weight: bold;
}
.hisTxt02 {
  font-size: 12px;
  line-height: 16px;
  color: #9190af;
  display: flex;
}
.hisTxt02 span {
  display: block;
  float: left;
  width: 20px;
  height: 23px;
}
.hisName01 {
  font-size: 12px;
  line-height: 15px;
  color: #666666;
  clear: left;
  padding: 7px 0 2px 0;
}
.hisBtm .nameboxImg {
  width: 20px;
  height: 13px;
}
.hisTxt03 {
  font-size: 11px;
  color: #686f82;
}
/*历史挂靠*/
.anchoredList ul {
  width: 100%;
  padding: 0 0 0 10px;
}
.anchoredList .vux-timeline-item-content {
  background: #fff;
  border-radius: 10px;
  padding: 12px 15px;
  margin: 0 0 0 25px;
  color: #666e85;
}
.anchoredList .vux-timeline-item {
  padding: 0 0 10px 0;
}
.anchoredList li .vux-timeline-item-head-first {
  background: url('../../assets/icon/icon_green.png') no-repeat;
  width: 16px;
  height: 15px;
  left: -3px !important;
}
.anchoredList li .vux-timeline-item-head {
  background: url('../../assets/icon/icon_blue.png') no-repeat;
  width: 16px;
  height: 15px;
  left: -3px !important;
}
.anchoredList li:last-child .vux-timeline-item-head {
  background: url('../../assets/icon/icon_red.png') no-repeat;
  width: 16px;
  height: 15px;
  left: -3px !important;
}
.anchoredList .vux-timeline-item-tail {
  width: 1px;
  background: #cdcdcd;
}
.anchoredList i {
  display: none!important;
}
.anchoredTxt01,
.anchoredTxt02 {
  margin-bottom: 5px;
  color: #676f87;
}
.grayCircle {
  width: 20px;
  height: 20px;
  line-height: 22px;
  display: inline-block;
  background: #b4b4b6;
  border-radius: 18px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}
.blueCircle {
  width: 20px;
  height: 20px;
  line-height: 22px;
  display: inline-block;
  background: #7cb4fe;
  border-radius: 18px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}
.anchoredImg01 {
  width: 20px;
  height: 13PX;
  margin: 5px 5px 0 0;
  float: left;
}
.shipnameBox01 {
  margin-bottom: 5px;
}
.shipnameBox02 {
  width: 100%;
  display: flex;
}
.anchoredTit01 {
  color: #676f87;
  font-size: 16px;
}
.anchoredTit02 {
  display: block;
  font-size: 10px;
  font-weight: normal;
  line-height: 16px;
}
/*查询轨迹*/
.voyageBox {
  position: fixed;
  z-index: 99;
  width: 92%;
  bottom: 0;
  background-color: #ffffff;
  padding: 15px;
  margin: 10px 4%;
  border-radius: 10px;
}
.voyageBoxin .weui-btn {
  margin-right: 0!important;
}
.voyageBox .ttl {
  color: #0585e5;
  font-size: 14px;
  margin-bottom: 10px;
}
.voyageBoxin {
  display: flex;
}
.voyageBoxin .txtn1 {
  float: left;
  margin-top: 5px;
  padding: 0 4px!important;
  font-size: 11px;
}
.voyageBoxin .vux-datetime {
  float: left;
  font-size: 12px;
}
.voyageBoxin .vux-datetime {
  border: 1px solid #e0dfe3;
  border-radius: 5px;
  padding: 0 6px!important;
  line-height: 8px;
}
.voyageBoxin .weui-btn {
  float: right;
  font-size: 12px!important;
}
.voyageBoxin .vux-cell-value {
  font-size: 12px;
}
/*注册协议*/
.ag_box01 {
  height: calc(80%);
  overflow: auto;
  padding: 60px 15px 15px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
.ag_ttl02 {
  font-size: 17px;
  height: 44px;
  padding: 10px 15px;
  font-weight: normal;
  text-align: center;
}
.ag_ttl01 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  line-height: 24px;
}
.si-content {
  margin-bottom: 7px;
}
.ag_box01 .p01 {
  color: #000;
}
.btn_ag {
  margin: 15px auto;
  width: 96%;
  display: block;
  border: 1px solid #007aff;
  background: #007aff;
  color: #fff;
  border-radius: 20px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.dp-header .dp-item.dp-right {
  color: #0383f0!important;
}
.agreement {
  height: 100%;
  background: #fff;
}
/*修改手机号*/
.mb20 {
  margin-bottom: 20px!important;
}
.pmTxt01 {
  padding: 10px 5px;
  margin: 0 5px;
  color: #0079fe !important;
  border-bottom: 1px solid #D9D9D9;
}
.pmTxt01 span {
  margin-right: 5px;
}
.registe.pmanage .weui-cell {
  border-top: none!important;
}
.registe.pmanage .weui-cell:before {
  border-top: none!important;
}
.registe.pmanage .yLine.weui-cell:before {
  border-top: 1px solid #D9D9D9!important;
}
/*选择号码*/
.phone .van-index-bar {
  padding: 50px 0 0 0;
}
@media (max-width: 325px) {
  .voyageBox {
    width: 98%;
    padding: 10px 5px;
    margin: 10px 1%;
  }
  .fourth .mui-table-view-cell {
    padding: 9px 15px;
  }
  .information .mui-table-view-chevron .mui-table-view-cell {
    padding-right: 30px;
  }
  .information .mui-table-view-chevron .mui-table-view-cell.txtIn {
    padding-right: 20px;
  }
}
.inBox .weui-cell_access .weui-cell__ft:after {
  border: none!important;
}
.inBox .weui-cell_access .weui-cell__ft {
  padding-right: 0 !important;
}
.hcBox .weui-cell_access .weui-cell__ft:after {
  border: none!important;
}
.hcBox .weui-cell_access .weui-cell__ft {
  padding-right: 0 !important;
}
.voyageBox .weui-cell_access .weui-cell__ft:after {
  border: none!important;
}
.voyageBox .weui-cell_access .weui-cell__ft {
  padding-right: 0 !important;
}
.gBox {
  position: fixed;
  background: #fff;
  color: #666f84;
  padding: 5px;
  z-index: 9;
  top: 120px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #dcdce0;
  font-size: 11px;
}
.gBox:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 5px;
  background: url('../../assets/icon/icon_star.png') no-repeat;
  background-size: 100%;
}
/*sdemo*/
.searchHei {
  position: absolute;
  z-index: 999;
  width: 96%;
  left: 2%;
  top: 95px;
  height: calc(-70%);
  overflow-y: scroll;
  border-radius: 10px;
  background: #fff;
}
.searchHei01 {
  position: absolute;
  z-index: 999;
  width: 96%;
  left: 2%;
  top: 95px;
  height: calc(-120%);
  overflow-y: scroll;
  border-radius: 10px;
  background: #fff;
}
/* 滚动条 */
.searchHei::-webkit-scrollbar {
  padding-left: 1px;
  margin-left: 1px;
  background: none;
  overflow: visible;
  width: 8px;
  height: 8px;
}
.searchHei::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border: none;
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 #d1d1d1, inset 0 -1px 0 #d1d1d1, inset -1px -1px 0 #d1d1d1, inset 1px -1px 0 #d1d1d1;
  border-radius: 5px;
}
.searchHei01::-webkit-scrollbar {
  padding-left: 1px;
  margin-left: 1px;
  background: none;
  overflow: visible;
  width: 8px;
  height: 8px;
}
.searchHei01::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border: none;
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 #d1d1d1, inset 0 -1px 0 #d1d1d1, inset -1px -1px 0 #d1d1d1, inset 1px -1px 0 #d1d1d1;
  border-radius: 5px;
}
#map {
  height: 100%!important;
  overflow: hidden;
}
.sdemo,
.sdemo .mui-content-contain,
.sdemo .amap-page-container {
  height: 100%;
}
